:root {
  --branding-color: rgb(91, 51, 176);
  --secondary-color: rgb(241, 247, 254);
  --background-color: rgb(27, 27, 27);
  --default-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

body {
  color: var(--branding-color);
  font-family: var(--default-font-family);
}

.hero {
  background: var(--background-color);
  padding: 200px 0;
  text-align: center;
}
.logo {
  max-width: 200px;
}
.hero h1 {
  font-family: var(--secondary-font-family);
  font-size: 72px;
  font-weight: 900;
}

.hero h3 {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 600;
}
.hero p {
  color: rgb(91, 51, 176, 0.8);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 70px;
}
.btn-branding {
  border-radius: 50px;
  background: rgb(91, 51, 176, 0.7);
  box-shadow: 5px 5px 20px 10px rgb(91, 51, 176, 0.2);
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  padding: 20px 30px;
  transition: all 300ms ease-in-out;
}
.btn-branding:hover {
  background-color: var(--branding-color);
  cursor: pointer;
  color: var(--secondary-color);
  transform: scale(1.1);
}
.skillset {
  background: var(--background-color);
  border-top: 1px solid var(--branding-color);
  border-bottom: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding: 40px 0;
  text-align: center;
}
.woman-coding {
  background: var(--background-color);
  padding: 80px 20px;
  text-align: center;
}

.skill-icons-container {
  background: var(--branding-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 5px;
  padding: 50px 20px;
}
.icon {
  text-align: center;
  padding-top: 20px;
  transition: all 300ms ease-in-out;
}
.icon:hover {
  transform: scale(1.3);
}
.icon p {
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 500;
  margin-top: 15px;
}
.project-intro {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-size: 34px;
  font-family: var(--default-font-family);
  font-weight: 500;
  margin: 0;
  padding: 50px 20px;
}
.project-container {
  background-color: var(--background-color);
  padding: 50px 20px;
}

.project-container img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
.img-container {
  background-color: rgba(205, 205, 205, 0.1);
  border-radius: 10px;
  padding: 40px;
}
.project-container h2 {
  font-size: 44px;
  color: var(--secondary-color);
}
.project-container p {
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 26px;
  opacity: 0.7;
}
.btn-branding-outline {
  border-radius: 50px;
  border: 2px solid var(--secondary-color);
  box-shadow: 5px 5px 20px 10px rgb(241, 247, 254, 0.1);
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  padding: 20px 30px;
  transition: all 300ms ease-in-out;
}

.btn-branding-outline:hover {
  background-color: rgb(241, 247, 254, 0.7);
  color: var(--background-color);
  cursor: pointer;
  transform: scale(1.1);
}
.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .logo {
    max-width: 150px;
  }
  .hero {
    padding: 80px 0;
  }
  .hero h1 {
    font-size: 56px;
  }
  .hero h3 {
    font-size: 28px;
  }
  .hero p {
    font-size: 22px;
  }
  .skillset {
    font-size: 28px;
  }
  .skill-icons-container {
    padding: 25px 15px;
  }
  .project-intro {
    font-size: 26px;
  }
  .project-description {
    padding: 30px 0;
    text-align: center;
  }
  .project-container h2 {
    font-size: 34px;
  }
}
